.container {

}

.logo2 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding:0;
    text-align: center;
    position: relative;
}

.line {
    height: 3.5px;
    top: 150px;
    margin: 0;
    background-color: white;
    animation-name: stretch;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay:0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.2);
    background-color: white;
    border-radius: 100%;
  }
  100% {
    transform: scale(0.5);
  }
}

.logo {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.logo img{
    width: 50;
    height: 70;
    text-align: middle;
}

.contact1 {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.contact1 img{
    width: 50;
    height: 70;
    text-align: middle;
}

.layer1 .container .projects {
    font-size: 20px;
    margin: -75px 140px;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    letter-spacing: 2x;
    overflow: hidden;
    background: linear-gradient(90deg, #fff, #91C827, #fff);
    background-repeat: no-repeat;
    background-size: 130%;
    animation: animate1 6s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(000,000,000,.0);

}

@keyframes animate1 {
100%{background-position: -500%} 0%{background-position: 500%}
}

